@import url("https://fonts.googleapis.com/css?family=Montserrat:200,400");

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2em 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
  color: #dcdde1;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 150%;
  background: #355c7d;
  background: -webkit-linear-gradient(to bottom, #c06c84, #6c5b7b, #355c7d);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#c06c84),
    color-stop(#6c5b7b),
    to(#355c7d)
  );
  background: -webkit-linear-gradient(top, #c06c84, #6c5b7b, #355c7d);
  background: -o-linear-gradient(top, #c06c84, #6c5b7b, #355c7d);
  background: linear-gradient(to bottom, #c06c84, #6c5b7b, #355c7d);
}

.title {
  font-weight: 200;
}

.quote {
  font-size: 18px;
  margin-bottom: 0.3em;
}

.quote-container {
  background-color: #40739e;
  border-radius: 5px;
  margin-bottom: 1em;
  padding: 1.5em 2em;
}

.quote-author {
  font-size: .9em;
  margin: 0;
  padding: 0;
}

button {
  background-color: #273c75 !important;
  border: none !important;
  margin: 0.5em 1em;
}

button:hover {
  background-color: #3c5db5 !important;
}

.tweet-button {
  background-color: #0097e6 !important;
}

.tweet-button:hover {
  background-color: #4dc2ff !important;
}

button:focus .fas.fa-spinner {
  -webkit-animation: spin .5s ease-in-out;
          animation: spin .5s ease-in-out;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
            transform: rotate(0deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

.sig {
  text-align: center;
  padding: .5em;
}
